/* Import Vendor CSS */
.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.clear {
  content: "";
  display: block;
  clear: both;
}

a:link,
a:visited {
  color: inherit;
}

#wrap {
  width: 100%;
  min-width: 1280px;
  min-height: 100%;
  box-sizing: border-box;
  height: 100%;
}
#app {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

img {
  vertical-align: middle;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

.display-f {
  display: flex;
}
.display-u {
  display: unset !important;
}

.over-h {
  overflow: hidden;
}

.f-right {
  float: right;
}
.f-left {
  float: left;
}

.cu-m {
  cursor: move;
}

.cu-p {
  cursor: pointer;
}

/* body */
body {
  margin: 0;
  font-family: "Pretendard" !important;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.4;
  color: #1D1D1D;
  text-align: left;
  background-color: #fff;
}

/* colors */
.tc-primary {
  color: #4374C9;
}

.tc-blue-01 {
  color: #143067;
}

.tc-black-01 {
  color: #1D1D1D;
}

.tc-black-02 {
  color: #2D2D2D;
}

.tc-gray-01 {
  color: #555555;
}

.tc-gray-02 {
  color: #717171;
}

.tc-orange-01 {
  color: #CC721D;
}

.tc-orange-02 {
  color: #FF8F24;
}

.tc-navy-01 {
  color: #D0D6E1;
}

.tc-navy-02 {
  color: #F2F3F5;
}

.tc-white {
  color: #FFFFFF;
}

/* text size */
.ts-11 {
  font-size: 11px !important;
}

.ts-13 {
  font-size: 13px !important;
}

.ts-15 {
  font-size: 15px !important;
}

.ts-17 {
  font-size: 17px !important;
}

.ts-19 {
  font-size: 19px !important;
}

.ts-21 {
  font-size: 21px !important;
}

.ts-23 {
  font-size: 23px !important;
}

.ts-25 {
  font-size: 25px !important;
}

.ts-18 {
  font-size: 18px !important;
}

.ts-20 {
  font-size: 20px !important;
}

.ts-22 {
  font-size: 22px !important;
}

.ts-26 {
  font-size: 26px !important;
}

.ts-32 {
  font-size: 32px !important;
}

.ts-40 {
  font-size: 40px !important;
}

.ts-42 {
  font-size: 42px !important;
}

/* text-weight */
.wt-normal {
  font-weight: 400 !important;
}

.tw-medium {
  font-weight: 500 !important;
}

.tw-bold {
  font-weight: 700 !important;
}

/* text-align */
.t-left {
  text-align: left !important;
}

.t-right {
  text-align: right !important;
}

.t-center {
  text-align: center !important;
}

.t-underline {
  text-decoration: underline !important;
}

/* badge */
.badge {
  display: inline-block;
  padding: 8px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  color: #FFFFFF;
}

.badge.badge_orange {
  background-color: #FF8F24;
}


/* button */
*[role="button"] {
  cursor: pointer;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-popup-close {
  padding: 2px;
  border: none !important;
}

.btn-h38 {
  padding: 7px 10px 7px 18px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.btn-h52 {
  padding: 12px 10px 12px 18px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.btn-h38-span {
  display: inline-block;
  margin-right: 4px;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
}

.btn-h52-span {
  display: inline-block;
  margin-right: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.btn-orange {
  background-color: #CC721D;
  color: #FFFFFF;
}

.btn-primary {
  background-color: #4374C9;
  color: #FFFFFF;
}

.btn-blue {
  background-color: #143067;
  color: #FFFFFF;
}

.btn-white {
  background-color: #FFFFFF;
}

/* popup */
.ly-pop-wrap {
  max-width: 472px;
}

.ly-pop {
  border-radius: 8px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
}

.ly-pop-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.ly-pop-main {
  position: relative;
  padding: 16px;
}

/* icon */
.common-icon {
  display: inline-flex;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}
.common-icon::after {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: center/100% no-repeat;
  content: "";
}

.common-icon.ty-18 {
  width: 18px;
  height: 18px;
}

.common-icon.ty-20 {
  width: 20px;
  height: 20px;
}

.common-icon.ty-24 {
  width: 24px;
  height: 24px;
}

.icon-arrow-right-white::after {
  background-image: url('../img/icon/icon_arrow_right_white.svg');
}

.icon-arrow-right-black::after {
  background-image: url('../img/icon/icon_arrow_right_black.svg');
}

.icon-popup-close::after {
  background-image: url('../img/icon/icon_popup_close.svg');
}

/* swiper */
.popup-swiper {
  position: static !important;
}

.popup-swiper .swiper-wrapper {
  padding: 0px;
  margin: 0px;
}

.popup-swiper .swiper-link{
  display: block;
}

.popup-swiper .swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 40px;
  height: 62px;
  border-radius: 16px 0px 0px 16px;
  background-color: rgba(20, 48, 103, 0.5);
}

.popup-swiper .swiper-button-prev::after {

}

.popup-swiper .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0px;
  width: 40px;
  height: 62px;
  border-radius: 16px 0px 0px 16px;
  background-color: rgba(20, 48, 103, 0.5);
}

.popup-swiper .swiper-button-next::after {
  
}

.popup-swiper .swiper-pagination {
  font-size: 0px;
}

/* Margin */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-14 {
  margin-top: 14px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-17 {
  margin-top: 17px !important;
}

.mt-18 {
  margin-top: 18px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-22 {
  margin-top: 22px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-26 {
  margin-top: 26px !important;
}

.mt-28 {
  margin-top: 28px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-31 {
  margin-top: 31px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.mt-34 {
  margin-top: 34px !important;
}

.mt-36 {
  margin-top: 36px !important;
}

.mt-38 {
  margin-top: 38px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-42 {
  margin-top: 42px !important;
}

.mt-44 {
  margin-top: 44px !important;
}

.mt-46 {
  margin-top: 46px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-14 {
  margin-bottom: 14px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-22 {
  margin-bottom: 22px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-26 {
  margin-bottom: 26px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-34 {
  margin-bottom: 34px !important;
}

.mb-36 {
  margin-bottom: 36px !important;
}

.mb-38 {
  margin-bottom: 38px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-42 {
  margin-bottom: 42px !important;
}

.mb-44 {
  margin-bottom: 44px !important;
}

.mb-46 {
  margin-bottom: 46px !important;
}

.mb-48 {
  margin-bottom: 48px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.ml-2 {
  margin-left: 2px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-6 {
  margin-left: 6px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.ml-14 {
  margin-left: 14px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.ml-18 {
  margin-left: 18px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-22 {
  margin-left: 22px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.ml-26 {
  margin-left: 26px !important;
}

.ml-28 {
  margin-left: 28px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-32 {
  margin-left: 32px !important;
}

.ml-34 {
  margin-left: 34px !important;
}

.ml-36 {
  margin-left: 36px !important;
}

.ml-38 {
  margin-left: 38px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-42 {
  margin-left: 42px !important;
}

.ml-44 {
  margin-left: 44px !important;
}

.ml-46 {
  margin-left: 46px !important;
}

.ml-48 {
  margin-left: 48px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mr-6 {
  margin-right: 6px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mr-14 {
  margin-right: 14px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mr-18 {
  margin-right: 18px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-22 {
  margin-right: 22px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mr-26 {
  margin-right: 26px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.mr-34 {
  margin-right: 34px !important;
}

.mr-36 {
  margin-right: 36px !important;
}

.mr-38 {
  margin-right: 38px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-42 {
  margin-right: 42px !important;
}

.mr-44 {
  margin-right: 44px !important;
}

.mr-46 {
  margin-right: 46px !important;
}

.mr-48 {
  margin-right: 48px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.mx-2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.mx-4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.mx-6 {
  margin-left: 6px !important;
  margin-right: 6px !important;
}

.mx-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mx-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mx-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.mx-14 {
  margin-left: 14px !important;
  margin-right: 14px !important;
}

.mx-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mx-18 {
  margin-left: 18px !important;
  margin-right: 18px !important;
}

.mx-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.mx-22 {
  margin-left: 22px !important;
  margin-right: 22px !important;
}

.mx-24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mx-26 {
  margin-left: 26px !important;
  margin-right: 26px !important;
}

.mx-28 {
  margin-left: 28px !important;
  margin-right: 28px !important;
}

.mx-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.mx-32 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mx-34 {
  margin-left: 34px !important;
  margin-right: 34px !important;
}

.mx-36 {
  margin-left: 36px !important;
  margin-right: 36px !important;
}

.mx-38 {
  margin-left: 38px !important;
  margin-right: 38px !important;
}

.mx-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.mx-42 {
  margin-left: 42px !important;
  margin-right: 42px !important;
}

.mx-44 {
  margin-left: 44px !important;
  margin-right: 44px !important;
}

.mx-46 {
  margin-left: 46px !important;
  margin-right: 46px !important;
}

.mx-48 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.mx-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.my-2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.my-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.my-6 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

.my-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.my-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.my-14 {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}

.my-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my-18 {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
}

.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.my-22 {
  margin-top: 22px !important;
  margin-bottom: 22px !important;
}

.my-24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.my-26 {
  margin-top: 26px !important;
  margin-bottom: 26px !important;
}

.my-28 {
  margin-top: 28px !important;
  margin-bottom: 28px !important;
}

.my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.my-32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.my-34 {
  margin-top: 34px !important;
  margin-bottom: 34px !important;
}

.my-36 {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}

.my-38 {
  margin-top: 38px !important;
  margin-bottom: 38px !important;
}

.my-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.my-42 {
  margin-top: 42px !important;
  margin-bottom: 42px !important;
}

.my-44 {
  margin-top: 44px !important;
  margin-bottom: 44px !important;
}

.my-46 {
  margin-top: 46px !important;
  margin-bottom: 46px !important;
}

.my-48 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.my-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

/* Padding */
.pt-0 {
  padding-top: 0px !important;
}

.pt-2 {
  padding-top: 2px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.pt-6 {
  padding-top: 6px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pt-14 {
  padding-top: 14px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pt-18 {
  padding-top: 18px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-22 {
  padding-top: 22px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.pt-26 {
  padding-top: 26px !important;
}

.pt-28 {
  padding-top: 28px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.pt-34 {
  padding-top: 34px !important;
}

.pt-36 {
  padding-top: 36px !important;
}

.pt-38 {
  padding-top: 38px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-42 {
  padding-top: 42px !important;
}

.pt-44 {
  padding-top: 44px !important;
}

.pt-46 {
  padding-top: 46px !important;
}

.pt-48 {
  padding-top: 48px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pb-2 {
  padding-bottom: 2px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pb-14 {
  padding-bottom: 14px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pb-18 {
  padding-bottom: 18px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-22 {
  padding-bottom: 22px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.pb-26 {
  padding-bottom: 26px !important;
}

.pb-28 {
  padding-bottom: 28px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.pb-34 {
  padding-bottom: 34px !important;
}

.pb-36 {
  padding-bottom: 36px !important;
}

.pb-38 {
  padding-bottom: 38px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-42 {
  padding-bottom: 42px !important;
}

.pb-44 {
  padding-bottom: 44px !important;
}

.pb-46 {
  padding-bottom: 46px !important;
}

.pb-48 {
  padding-bottom: 48px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pl-2 {
  padding-left: 2px !important;
}

.pl-4 {
  padding-left: 4px !important;
}

.pl-6 {
  padding-left: 6px !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-12 {
  padding-left: 12px !important;
}

.pl-14 {
  padding-left: 14px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.pl-18 {
  padding-left: 18px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-22 {
  padding-left: 22px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

.pl-26 {
  padding-left: 26px !important;
}

.pl-28 {
  padding-left: 28px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-32 {
  padding-left: 32px !important;
}

.pl-34 {
  padding-left: 34px !important;
}

.pl-36 {
  padding-left: 36px !important;
}

.pl-38 {
  padding-left: 38px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pl-42 {
  padding-left: 42px !important;
}

.pl-44 {
  padding-left: 44px !important;
}

.pl-46 {
  padding-left: 46px !important;
}

.pl-48 {
  padding-left: 48px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pr-2 {
  padding-right: 2px !important;
}

.pr-4 {
  padding-right: 4px !important;
}

.pr-6 {
  padding-right: 6px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.pr-14 {
  padding-right: 14px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pr-18 {
  padding-right: 18px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-22 {
  padding-right: 22px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.pr-26 {
  padding-right: 26px !important;
}

.pr-28 {
  padding-right: 28px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-32 {
  padding-right: 32px !important;
}

.pr-34 {
  padding-right: 34px !important;
}

.pr-36 {
  padding-right: 36px !important;
}

.pr-38 {
  padding-right: 38px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pr-42 {
  padding-right: 42px !important;
}

.pr-44 {
  padding-right: 44px !important;
}

.pr-46 {
  padding-right: 46px !important;
}

.pr-48 {
  padding-right: 48px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pa-0 {
  padding: 0px !important;
}

.pa-2 {
  padding: 2px !important;
}

.pa-4 {
  padding: 4px !important;
}

.pa-6 {
  padding: 6px !important;
}

.pa-8 {
  padding: 8px !important;
}

.pa-10 {
  padding: 10px !important;
}

.pa-12 {
  padding: 12px !important;
}

.pa-14 {
  padding: 14px !important;
}

.pa-16 {
  padding: 16px !important;
}

.pa-18 {
  padding: 18px !important;
}

.pa-20 {
  padding: 20px !important;
}

.pa-22 {
  padding: 22px !important;
}

.pa-24 {
  padding: 24px !important;
}

.pa-26 {
  padding: 26px !important;
}

.pa-28 {
  padding: 28px !important;
}

.pa-30 {
  padding: 30px !important;
}

.pa-32 {
  padding: 32px !important;
}

.pa-34 {
  padding: 34px !important;
}

.pa-36 {
  padding: 36px !important;
}

.pa-38 {
  padding: 38px !important;
}

.pa-40 {
  padding: 40px !important;
}

.pa-42 {
  padding: 42px !important;
}

.pa-44 {
  padding: 44px !important;
}

.pa-46 {
  padding: 46px !important;
}

.pa-48 {
  padding: 48px !important;
}

.pa-50 {
  padding: 50px !important;
}

.px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.px-2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.px-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.px-6 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.px-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.px-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.px-14 {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.px-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px-18 {
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.px-22 {
  padding-left: 22px !important;
  padding-right: 22px !important;
}

.px-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.px-26 {
  padding-left: 26px !important;
  padding-right: 26px !important;
}

.px-28 {
  padding-left: 28px !important;
  padding-right: 28px !important;
}

.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.px-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.px-34 {
  padding-left: 34px !important;
  padding-right: 34px !important;
}

.px-36 {
  padding-left: 36px !important;
  padding-right: 36px !important;
}

.px-38 {
  padding-left: 38px !important;
  padding-right: 38px !important;
}

.px-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.px-42 {
  padding-left: 42px !important;
  padding-right: 42px !important;
}

.px-44 {
  padding-left: 44px !important;
  padding-right: 44px !important;
}

.px-46 {
  padding-left: 46px !important;
  padding-right: 46px !important;
}

.px-48 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.px-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.py-2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.py-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.py-6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.py-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.py-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.py-14 {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.py-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-18 {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}

.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.py-22 {
  padding-top: 22px !important;
  padding-bottom: 22px !important;
}

.py-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py-26 {
  padding-top: 26px !important;
  padding-bottom: 26px !important;
}

.py-28 {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}

.py-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.py-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.py-34 {
  padding-top: 34px !important;
  padding-bottom: 34px !important;
}

.py-36 {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}

.py-38 {
  padding-top: 38px !important;
  padding-bottom: 38px !important;
}

.py-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.py-42 {
  padding-top: 42px !important;
  padding-bottom: 42px !important;
}

.py-44 {
  padding-top: 44px !important;
  padding-bottom: 44px !important;
}

.py-46 {
  padding-top: 46px !important;
  padding-bottom: 46px !important;
}

.py-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.py-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
