.common_wrap {
  width: 100%;
  height: 100%;
}

#remote-tab {
  display: flex;
  align-items: center;
  width: 120px;
  height: calc(100% - 116px);
  background-color: #4374C9;
}

.remote-tab-list {
  width: 100%;
}

.remote-tab-item {
  width: 100%;
}

.remote-tab-item:not(:last-of-type) .btn-remote-tab::after {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 72px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateX(-50%);
  content: '';
}

.btn-remote-tab {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 0px 24px;
  background-color: #4374C9;
  color: #FFFFFF;
}

.btn-remote-tab.active {
  background-color: #FFFFFF;
  color: #4374C9;
}

.btn-remote-tab-txt {
  font-weight: 700;
}

