/* LNB */

.lnb-area {
  width: 250px;
  float: left;
  height: 100%;
}

.lnb {
  width: 250px;
  height: 100%;
  background: #242428;
  float: left;
}
.lnb-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: url("../img/svg/icons/logo.svg") no-repeat center #fff;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.05);
}

.lnb-list-scroll-wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

.lnb-free {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.lnb-scrollbar {
  position: relative;
  height: calc(100% - 220px);
}

.lnb-lst {
  font-size: 13px;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
}

.lnb-lst li {
  min-height: 49px;
  line-height: 49px;
  position: relative;
  background: #242428;
  width: 100%;
}
.lnb-lst li .lnb-lst-a {
  display: block;
  color: #fff;
  font-size: 15px;
  /* background: #242428; */
  padding-left: 30px;
}
.lnb-lst li .lnb-lst-a::after {
  display: inline-block;
  content: "";
  background: url("../img/svg/icons/expand_less_static.svg") no-repeat;
  position: absolute;
  right: 22.41px;
  top: 21.71px;
  width: 12px;
  height: 7px;
}
.lnb-lst li.on .lnb-lst-a {
  color: #fff;
  font-weight: 700;
  background: #fa2828;
  margin-bottom: 8px;
}
.lnb-lst li.on .lnb-lst-a::after {
  display: inline-block;
  content: "";
  background: url("../img/svg/icons/expand_less_active.svg") no-repeat;
  position: absolute;
  right: 22.41px;
  top: 21.71px;
  width: 12px;
  height: 7px;
}

.lnb-sub-lst .sub-lst-item {
  display: block;
  color: #bdbdbe;
  background: #242428;
  padding-left: 44px;
}
.lnb-sub-lst li.on .sub-lst-item {
  font-weight: 700;
  color: #bdbdbe;
}

.lnb-user-info {
  position: relative;
  width: 100%;
  height: 120px;
  padding: 31px 0 41px 77.24px;
  background-image: url("../img/svg/icons/lnb_user_info_avatar.svg");
  background-repeat: no-repeat;
  background-position: 20px 31px;
}

.lnb-user-info::before {
  display: inline-block;
  content: "";
  width: 218px;
  height: 1px;
  background-color: #bdbdbe;
  position: absolute;
  left: 16px;
  top: 0px;
}

.lnb-user-info ul li:nth-of-type(1) {
  color: #dcdcdc;
  font-size: 14px;
  font-weight: 400;
}

.lnb-user-info ul li:nth-of-type(2) {
  margin-top: 4px;
}

.lnb-user-info ul li:nth-of-type(2) a {
  color: #dcdcdc;
  font-size: 12px;
  font-weight: 400;
}

.lnb-user-info ul li:nth-of-type(2) a:after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #cfd0d7;
  margin: 0 12px;
}

.lnb-user-info ul li:nth-of-type(2) button {
  padding: 0;
  font-size: 12px;
  color: #dcdcdc;
}

/*  스크롤바 */
.lnb-list-scroll-wrap::-webkit-scrollbar {
  width: 10px;
}

.lnb-list-scroll-wrap::-webkit-scrollbar-thumb {
  border: 3px solid #242428;
  border-radius: 6px;
  height: auto;
  background-color: #F1F1F1;
}
.lnb-list-scroll-wrap::-webkit-scrollbar-thumb:hover {
  background: #fa2828;
  border-radius: 6px;
  width: auto;
}

/* contents */
.contents-area {
  width: calc(100% - 250px);
  float: right;
  height: 100%;
}

.contents-footer {
  display: flex;
  justify-content: center;
  margin-block: 70px;
}

.contents-footer-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.contents-footer .btn-h46 {
 width: 200px;
}

/* area */
.top-bar-area {
  position: relative;
  width: 1670px;
  height: 100px;
  padding: 35px 30px 24px 30px;
  box-sizing: border-box;
  /* background-color:beige; */
} /* 레이아웃 구분을 위해 배경 색 지정 */
.top-bar-area::after {
  position: absolute;
  top: 99px;
  display: inline-block;
  content: "";
  width: calc(100% - 60px);
  height: 1px;
  background-color: #e8e8e8;
}
.top-bar-area-clear {
  position: relative;
  width: 1670px;
  height: 100px;
  padding: 35px 30px 24px 30px;
  box-sizing: border-box;
}
.table-area {
  width: 1670px;
  height: calc(100% - 100px);
  padding: 40px;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  /* background-color:bisque */
} /* 레이아웃 구분을 위해 배경 색 지정 */
.table-area-welcome {
  width: 1670px;
  height: calc(100% - 100px);
  padding: 40px;
  box-sizing: border-box;
  position: relative;
}
.error-area-lnb {
  width: 1670px;
  height: calc(100% - 100px);
  box-sizing: border-box;
  position: relative;
}
.error-area {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}