/* login */
.input-field {
  width:330px;
  display: unset;
  position: unset;
  text-align: center;
}

.login-container {
  max-width:342px;
  text-align: center;    
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  /* justify-content: center; */
  margin: 0 auto;
  height: 100vh;
}

input {
  display:inline-block;
}

.input:focus:not(:disabled) {
  border: 1px solid #858585;
}

.login-container .input {
  width: 330px;
  height: 44px;
}

.form-field + .form-field {
  margin-top: 8px;
}

.login-tit {
  display: flex;
  justify-content: center;
  background: url("../img/svg/icons/payco.svg") no-repeat center;
  height: 30px;
  margin-bottom: 9px;
}

.login-linksam {
  display: flex;
  justify-content: center;
  background: url("../img/svg/icons/nhnlinksam_logo.svg") no-repeat center;
  height: 24px;
}

.login-sam {
  height: 13px;
  margin: 3px 0;
}

@media ( max-width: 1023px ) {
  .login-container {
    max-width:342px;
    text-align: center;    
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    /* justify-content: center; */
    margin: 0 auto;
    height: 100vh;
  }
}

@media ( max-width: 767px ) {
  .login-container {
    max-width:290px;
    text-align: center;    
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    margin: 0 auto;
    height: 100vh;
  }
  .btn-h46 {
    width: 280px !important;
  }
  .btn-login {
    width: 280px !important;
  }
  .login-container .input {
    width: 280px;
    height: 44px;
  }
}

/* checkbox */
.checkbox {
  padding-top: 8px;
}

.checkbox .span {
  display: flex;
  align-items: flex-start;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  cursor: default;
}
.checkbox .label::before {
  content: "";
  display: block;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #E74136;
  border-radius: 100px;
  transition: border-color 0.15s, background-color 0.15s;
}
.checkbox input:checked ~ .label::before {
  background-color: #E74136;
  /* background: url("../img/svg/icons/login_check.svg") no-repeat; */
  background-position: center;
  border-color: #E74136;
}

/* button */
.btn-login {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  transition: border-color 0.2s, background-color 0.2s;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: -0.02em;
}

.btn-appred{
  width: 330px;
  color: #E74136 !important;
  border-color:#E74136 !important;
}

.btn-appred:hover:not(:disabled):not(.disabled) {
  border-color:#E74136 !important;
}

.btn-h46 {
  border-color: #DCDDE1 !important; 
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 330px;
  font-weight: 500;
}

.btn-select {
  border-color:#E74136 !important;
}

/* separator */
.separator-bx{
  display:block;
  margin:18px auto 21px;
  text-align:center;
  /* height:40px; */
  background:transparent;
  color: #999999;
  font-size:10px;
  width:100%;
  max-width:680px;
}
.separator{
  position:relative;
}
.separator::before{
    content:"";
    position:absolute;
    top:8px;
    left:0;
    background: #F0F0F0;
    height:1px;
    width:146px;
  }
.separator::after{
    content:"";
    position:absolute;
    top:8px;
    right:0;
    background: #F0F0F0;
    height:1px;
    width:146px;
  }
.separator-container {
  /* max-width:330px; */
}