@charset "euc-kr";

@import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css");
/*@import url("//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/nanumgothic.css");*/
@import url("https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
/*@import url("https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css");
@import url("nanumgothic.css");
@import url("nanummyeongjo.css");*/
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css'); /*수정241211*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,form,fieldset,legend,input,button,select,textarea {margin:0; padding:0}
html {overflow-y:scroll; font-family:'Nanum Gothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움','dotum'; text-align:center; color:#222; font-size:16px; line-height:1.5em;}
body {position:relative;width:100%;}
fieldset,img,iframe {border:none;}
dl,ul,ol, li {list-style:none;}
address {font-style:normal;}
form,fieldset {display:inline;}
/*caption, legend { display:; text-indent:-10000px;}*/
caption, legend { display:; text-indent:-10000px; font-size:0; line-height:normal;}

label {cursor:pointer;}
.blind {visibility:hidden; width:0; height:0; padding:0; overflow:hidden; line-height:0;}

input { font-family:'Nanum Gothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움','dotum'; color:#222; background:#fff; font-size:16px; border:solid 1px #c4c4c4; height:32px;}
select { font-family:'Nanum Gothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움','dotum'; color:#222; background:#fff; font-size:16px; border:solid 1px #c4c4c4; height:34px;}
textarea { font-family:'Nanum Gothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움','dotum'; color:#222; background:#fff; font-size:16px; border:solid 1px #c4c4c4;}
input:hover, select:hover, textarea:hover { background:#fafafa;}

img {max-width:100%}

a:link, a:visited {text-decoration:none; color:#000;}
a:hover, a:focus, a:active {text-decoration:underline; color:#0087cf;}

table { border-collapse:collapse; border-spacing:0; }



.input01 { border:solid 1px #979797; height:30px;}
.textarea01 { border:solid 1px #979797;}
.input_check { background:none; border:none;}


/* align */
.fl { float:left;}
.fr { float:right}
.tl { text-align:left;}
.tr { text-align:right;}
.tc { text-align:center;}
.tj { text-align:justify;}
.cl { clear:both;}
.cp { cursor:pointer;}
.vt { vertical-align:top;}
.vm { vertical-align:middle}
.vb { vertical-align:bottom}

/* size */
.fs0 { font-size:0px;}
.fs11 { font-size:11px;}
.fs12 { font-size:12px;}
.fs13 { font-size:13px;}
.fs14 { font-size:14px;}
.fs14b { font-size:14px; font-weight:bold;}
.fs15 { font-size:15px;}
.fs15b { font-size:15px; font-weight:bold;}
.fs16 { font-size:16px;}
.fs16b { font-size:16px; font-weight:bold;}
.fs17 { font-size:17px;}
.fs17b { font-size:17px; font-weight:bold;}
.fs18 { font-size:18px;}
.fs18b { font-size:18px; font-weight:bold;}
.fs19 { font-size:19px;}
.fs19b { font-size:19px; font-weight:bold;}
.fs24 { font-size:24px;}
.fs24b { font-size:24px; font-weight:bold;}

.wid40 { width:40px;}
.wid45 { width:45px;}
.wid50 { width:50px;}
.wid60 { width:60px;}
.wid65 { width:65px;}
.wid70 { width:70px;}
.wid75 { width:75px;}
.wid80 { width:80px;}
.wid90 { width:90px;}
.wid100 { width:100px;}
.wid110 { width:110px;}
.wid120 { width:120px;}
.wid130 { width:130px;}
.wid140 { width:140px;}
.wid150 { width:150px;}
.wid160 { width:160px;}
.wid170 { width:170px;}
.wid180 { width:180px;}
.wid190 { width:190px;}
.wid200 { width:200px;}
.wid210 { width:210px;}
.wid220 { width:220px;}
.wid230 { width:230px;}
.wid240 { width:240px;}
.wid250 { width:250px;}
.wid258 { width:258px;}
.wid260 { width:260px;}
.wid270 { width:270px;}
.wid280 { width:280px;}
.wid290 { width:290px;}
.wid300 { width:300px;}
.wid310 { width:310px;}
.wid320 { width:320px;}
.wid330 { width:330px;}
.wid340 { width:340px;}
.wid350 { width:350px;}
.wid370 { width:370px;}
.wid400 { width:400px;}
.wid410 { width:410px;}
.wid430 { width:430px;}
.wid450 { width:450px;}
.wid500 { width:500px;}
.wid550 { width:550px;}
.wid600 { width:600px;}
.wid650 { width:650px;}
.wid700 { width:700px;}
.wid750 { width:750px;}
.wid800 { width:800px;}
.wid850 { width:850px;}
.wid900 { width:900px;}
.wid950 { width:950px;}
.widp90 { width:90%;}
.widp95 { width:95%;}
.widp100 { width:100%;}

.hei30 { height:30px;}

/* color */
.fc000 { color:#000;}
.fc000B { color:#000; font-weight:bold;}
.fc222 { color:#222;}
.fc222B { color:#222; font-weight:bold;}
.fc333 { color:#333;}
.fc333B { color:#333; font-weight:bold;}
.fc555 { color:#555;}
.fc555B { color:#555; font-weight:bold;}
.fc666 { color:#666;}
.fc666B { color:#666; font-weight:bold;}
.fc777 { color:#777;}
.fc777B { color:#777; font-weight:bold;}
.fc999 { color:#999;}
.fc999B { color:#999; font-weight:bold;}
.fcfff { color:#fff;}
.fcBlue01 {color:#004685;}
.fcBlue01B {color:#004685; font-weight:bold;}
.fcSky01 {color:#0087cf;}
.fcSky01B {color:#0087cf; font-weight:bold;}
.fcOrg01 {color:#ff6c00;}
.fcOrg01B {color:#ff6c00; font-weight:bold;}
.fcRed01 {color:#ff3c00;}
.fcRed01B {color:#ff3c00; font-weight:bold;}


/* font */
.ls1 {letter-spacing:0.1em;}
.lsm {letter-spacing:-1em;}
.lsn {letter-spacing:normal;}
.fb { font-weight:bold;}
.fn { font-weight:normal;}
.fsi { font-style:italic}
.tuline { text-decoration:underline}
.font_old{ font-family: Georgia, "Times New Roman", Times, serif}
.lhn { line-height:normal;}
.lh5 { line-height:1.5em;}
.lh6 { line-height:1.6em;}
.lh7 { line-height:1.7em;}


/* padding margin */
.pd0 {padding:0px;}

.pt1 {padding-top:1px;}
.pt2 {padding-top:2px;}
.pt3 {padding-top:3px;}
.pt4 {padding-top:4px;}
.pt5 {padding-top:5px;}
.pt7 {padding-top:7px;}
.pt8 {padding-top:8px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pt25 {padding-top:25px;}
.pt30 {padding-top:30px;}
.pt35 {padding-top:35px;}
.pt40 {padding-top:40px;}
.pt50 {padding-top:50px;}
.pt60 {padding-top:50px;}
.pt70 {padding-top:70px;}
.pt80 {padding-top:80px;}

.pb1 {padding-bottom:1px;}
.pb2 {padding-bottom:2px;}
.pb3 {padding-bottom:3px;}
.pb4 {padding-bottom:4px;}
.pb5 {padding-bottom:5px;}
.pb7 {padding-bottom:7px;}
.pb8 {padding-bottom:8px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.pb25 {padding-bottom:25px;}
.pb30 {padding-bottom:30px;}

.pl1 {padding-left:1px;}
.pl2 {padding-left:2px;}
.pl3 {padding-left:3px;}
.pl4 {padding-left:4px;}
.pl5 {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl15 {padding-left:15px;}
.pl20 {padding-left:20px;}
.pl25 {padding-left:25px;}
.pl30 {padding-left:30px;}
.pl35 {padding-left:35px;}
.pl40 {padding-left:30px;}

.pr1 {padding-right:1px;}
.pr2 {padding-right:2px;}
.pr3 {padding-right:3px;}
.pr4 {padding-right:4px;}
.pr5 {padding-right:5px;}
.pr10 {padding-right:10px;}
.pr15 {padding-right:15px;}
.pr20 {padding-right:20px;}
.pr25 {padding-right:25px;}
.pr30 {padding-right:30px;}
.pr40 {padding-right:30px;}

.mtm1 {margin-top:-1px;}
.mtm5 {margin-top:-5px;}
.mt0 {margin-top:0px;}
.mt1 {margin-top:1px;}
.mt2 {margin-top:2px;}
.mt3 {margin-top:3px;}
.mt4 {margin-top:4px;}
.mt5 {margin-top:5px;}
.mt7 {margin-top:7px;}
.mt10 {margin-top:10px;}
.mt13 {margin-top:13px;}
.mt15 {margin-top:15px;}
.mt17 {margin-top:17px;}
.mt20 {margin-top:20px;}
.mt22 {margin-top:22px;}
.mt25 {margin-top:25px;}
.mt27 {margin-top:27px;}
.mt30 {margin-top:30px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.mt45 {margin-top:45px;}
.mt50 {margin-top:50px;}
.mt60 {margin-top:60px;}
.mt70 {margin-top:70px;}
.mt80 {margin-top:80px;}

.mb1 {margin-bottom:1px;}
.mb2 {margin-bottom:2px;}
.mb3 {margin-bottom:3px;}
.mb4 {margin-bottom:4px;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.mb50 {margin-bottom:50px;}

.ml1 {margin-left:1px;}
.ml2 {margin-left:2px;}
.ml3 {margin-left:3px;}
.ml4 {margin-left:4px;}
.ml5 {margin-left:5px;}
.ml7 {margin-left:7px;}
.ml10 {margin-left:10px;}
.ml12 {margin-left:12px;}
.ml13 {margin-left:13px;}
.ml15 {margin-left:15px;}
.ml17 {margin-left:17px;}
.ml20 {margin-left:20px;}
.ml25 {margin-left:25px;}
.ml30 {margin-left:30px;}

.mr0 {margin-right:0px;}
.mr1 {margin-right:1px;}
.mr2 {margin-right:2px;}
.mr3 {margin-right:3px;}
.mr4 {margin-right:4px;}
.mr5 {margin-right:5px;}
.mr7 {margin-right:7px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mr25 {margin-right:25px;}
.mr30 {margin-right:30px;}
.mr40 {margin-right:40px;}
.mr50 {margin-right:50px;}
