/* header */
#header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100%;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

#header .header-util-wrap .header-inner{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 80px;
}

#header .header-util-list {
  display: flex;
}

#header .header-util-link {
  position: relative;
  padding: 0px 15px 0px 14px;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}

#header .header-util-link::after {
  position: absolute;
  top: 50%;
  right: 0px;
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  content: '';
}

#header .header-zoom-control {
  display: flex;
}

#header .header-zoom-label {
  display: inline-block;
  padding: 0px 6px 0px 14px;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}

#header .btn-header-zoot-out {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #F8F8F8;
}

#header .btn-header-zoom-in {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #F8F8F8;
}

#header .header-zoom-percent {
  display: inline-block;
  padding: 0px 4px;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}

#header .header-gnb-wrap {
  position: relative;
}

#header .header-gnb-wrap::after {
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
  content: '';
}

#header .header-gnb-wrap .header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
}

#header .logo-wrap {
  display: flex;
  align-items: center;
}

#header .header-gnb-area {
  display: flex;
  align-items: center;
}

#header .header-gnb {
  margin-right: 36px;
}

#header .header-gnb-list {
  display: flex;
}

#header .header-gnb-item:not(:last-of-type) {
  margin-right: 26px;
}

@media screen and (max-width: 1619px) {
  #header .header-gnb-item:not(:last-of-type) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1620px) {
  #header .header-gnb-item:not(:last-of-type) {
    margin-right: 26px;
  }
}

#header .header-gnb-link {
  position: relative;
  padding: 22px 16px;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  transition: 0.2s all ease;
}

#header .header-gnb-link:hover {
  color: #4374C9;
}

#header .header-gnb-link::after {
  width: 0;
  height: 0;
  background-color: transparent;
  transition: 0.2s all ease;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  z-index: 10001;
  transform: translateX(-50%);
}

#header .header-gnb-link:hover::after {
  width: 100%;
  height: 4px;
  background-color: #4374C9;
  transform: translateX(-50%) scaleX(1);
  transition: 0.2s all ease;
}

#header .btn-category {
  padding: 4px;
}

#header .sub-menu-wrap {
  display: none;
  position: absolute;
  top: 76px;
  left: 0px;
  z-index: 10000;
  width: 100%;
  height: 0px;
}

#header .sub-menu-wrap.active {
  display: block;
  height: calc(100vh - 116px);
}

#header .dimmed {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#header .sub-menu-area {
  display: flex;
  padding: 0px 220px 0px 0px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
}

#header .sub-menu-ssumary {
  display: flex;
  justify-content: center;
  min-width: 320px;
  padding: 26px 0px 0px 0px;
  background-color: #143067;
}

#header .sub-menu-ssumary-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  color: #FFFFFF;
}

#header .sub-menu {
  width: 100%;
  padding-bottom: 60px;
}

#header .sub-menu-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#header .sub-menu-item {
  width: calc(100% / 5);
  padding: 16px 22px 0px 22px;
}

#header .sub-menu-item:nth-of-type(n+6) {
  margin-top: 20px;
}

#header .sub-menu-link {
  display: flex;
  align-items: center;
  padding: 12px 0px;
}

#header .sub-menu-link:hover .sub-menu-link-txt {
  color: #4374C9;
}

#header .sub-menu-link:hover .common-icon {
  opacity: 1;
}

#header .sub-menu-link-txt {
  margin-right: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #2D2D2D;
  transition: 0.2s all ease;
}

#header .sub-menu-link .common-icon {
  opacity: 0;
  transition: 0.2s all ease;
}

#header .sub-menu-detail-link {
  padding: 4px 0px;
  font-size: 17px;
  line-height: 26px;
  color: #555555;
  transition: 0.2s all ease;
}

#header .sub-menu-detail-link:hover {
  color: #4374C9;
}

#header .category-area {
  overflow-y: scroll;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 1000;
}

#header .category-area.active {
  display: block;
}

#header .category-inner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

#header .category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 16px 0px;
}

#header .btn-category-close {
  padding: 4px;
}

#header .category-link {
  position: relative;
  padding: 28px 0px;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

#header .category-link::after {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #1D1D1D;
  content: '';
}

#header .category-sub {
  padding: 32px 0px;
}

#header .category-sub-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#header .category-sub-item {
  width: calc(100% / 5);
}

#header .category-sub-item:nth-of-type(n+6) {
  margin-top: 40px;
}

#header .category-sub-link {
  padding: 18px 0px;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: #555555;
}

#header .category-sub-detail-link {
  padding: 14px 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #717171;
}
