/* header */
#header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100%;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

#header .header-util-wrap .header-inner{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding: 10px 20px;
  margin: 0 auto;
}

#header .header-util-list {
  display: flex;
}

#header .header-util-link {
  position: relative;
  padding: 0px 15px 0px 14px;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}

#header .header-util-link::after {
  position: absolute;
  top: 50%;
  right: 0px;
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  content: '';
}

#header .header-zoom-control {
  display: flex;
}

#header .header-zoom-label {
  display: inline-block;
  padding: 0px 6px 0px 14px;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}

#header .btn-header-zoot-out {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #F8F8F8;
}

#header .btn-header-zoom-in {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #F8F8F8;
}

#header .header-zoom-percent {
  display: inline-block;
  padding: 0px 4px;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}

#header .header-gnb-wrap {
  position: relative;
}

#header .header-gnb-wrap::after {
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
  content: '';
}

#header .header-gnb-wrap .header-inner{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1400px;
  padding: 0px 20px;
  margin: 0 auto;
}

#header .logo-wrap {
  display: flex;
}

#header .logo-img {
  width: 140px;
  height: 60px;
}

#header .logo-csp-img {
  width: 110px;
  height: 60px;
}

#header .header-gnb-area {
  display: flex;
  align-items: center;
  gap: 36px;
}

#header .header-gnb-list {
  display: flex;
}

#header .header-gnb-item:not(:last-of-type) {
  margin-right: 26px;
}

@media screen and (max-width: 1400px) {
  #header .header-gnb-item:not(:last-of-type) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1401px) {
  #header .header-gnb-item:not(:last-of-type) {
    margin-right: 24px;
  }
}

#header .header-gnb-link {
  position: relative;
  padding: 22px 16px;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  transition: 0.25s all ease;
}

#header .header-gnb-link::after {
  position: absolute;
  bottom: -4px;
  left: 50%;
  z-index: 10001;
  width: 0%;
  height: 4px;
  background-color: #4374C9;
  transform: translateX(-50%);
  transition: 0.25s all ease;
  content: '';
}

#header .header-gnb-link:hover {
  color: #4374C9;
}

#header .header-gnb-link:hover::after {
  width: 100%;
}

#header .btn-category {
  padding: 4px;
}

#header .sub-menu-wrap {
  display: none;
  position: absolute;
  top: 76px;
  left: 0px;
  z-index: 10000;
  width: 100%;
  box-shadow: 0px 20px 50px rgba(37, 47, 66, 0.15);
}

#header .sub-menu-area {
  display: flex;
  padding: 0px 220px 0px 0px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
}

#header .sub-menu-ssumary {
  display: flex;
  justify-content: center;
  min-width: 320px;
  padding: 26px 0px 0px 0px;
  background-color: #143067;
}

#header .sub-menu-ssumary-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  color: #FFFFFF;
}

#header .sub-menu {
  width: 100%;
  padding-bottom: 60px;
}

#header .sub-menu-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#header .sub-menu-item {
  width: calc(100% / 5);
  padding: 16px 22px 0px 22px;
}

#header .sub-menu-item:nth-of-type(n+6) {
  margin-top: 20px;
}

#header .sub-menu-link {
  display: flex;
  align-items: center;
  padding: 12px 0px;
}

#header .sub-menu-link:hover .sub-menu-link-txt {
  color: #4374C9;
}

#header .sub-menu-link:hover .common-icon {
  opacity: 1;
}

#header .sub-menu-link-txt {
  margin-right: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #2D2D2D;
  transition: 0.2s all ease;
}

#header .sub-menu-link .common-icon {
  opacity: 0;
  transition: 0.2s all ease;
}

#header .sub-menu-detail-link {
  padding: 4px 0px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
  color: #555555;
  transition: 0.2s all ease;
}

#header .sub-menu-detail-link:hover {
  color: #4374C9;
}

#header .category-area {
  overflow-y: scroll;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 1000;
}

#header .category-area.active {
  display: block;
}

#header .category-inner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

#header .category-header {
  position: relative;
}

#header .category-header::after {
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
  content: '';
}

#header .category-header .category-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding: 40px 0px 16px 0px;
}

#header .btn-category-close {
  padding: 4px;
}

#header .category-item {
  margin-top: 48px;
}

#header .category-link {
  position: relative;
  padding: 20px 0px;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

#header .category-link::after {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #1D1D1D;
  content: '';
}

#header .category-sub {
  padding: 32px 0px 0px 0px;
}

#header .category-sub-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px 0px;
}

#header .category-sub-item {
  width: calc(100% / 5);
}

#header .category-sub-link {
  padding: 10px 0px;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: #2D2D2D;
}

#header .category-sub-detail-link {
  padding: 8px 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #2D2D2D;
}

/* footer */
#footer {
  width: 100%;
}

#footer .footer-inner {
  position: relative;
}

@media screen and (max-width: 1400px) {
  #footer .footer-inner {
    width: 100%;
    max-width: 1400px;
    padding: 0px 40px;
  }
}

@media screen and (min-width: 1401px) {
  #footer .footer-inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
}

#footer .footer-banner {
  position: relative;
  width: 100%;
  background-color: #F2F3F5;
}

#footer .footer-banner::before {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 1px;
  background-color: #C6C6C6;
  content: '';
}

#footer .footer-banner .footer-inner {
  display: flex;
}

#footer .footer-banner-swiper {
  max-width: 1295px;
  padding: 16px 0px;
  background-color: #F2F3F5;
}

#footer .footer-banner-swiper .swiper-img {
  width: 100%;
}

#footer .swiper-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 105px;
  background-color: rgba(0, 0, 0, 0.05);
}

#footer .swiper-button-prev::after {
  width: 24px;
  height: 24px;
  background: center / 100% no-repeat;
  background-image: url('../../img/icon/icon_footer_swiper_button_prev.svg');
  content: '';
}

#footer .swiper-button-next::after {
  width: 24px;
  height: 24px;
  background: center / 100% no-repeat;
  background-image: url('../../img/icon/icon_footer_swiper_button_next.svg');
  content: '';
}

#footer .btn-swiper-pause {
  display: none;
}

#footer .btn-swiper-pause.active {
  display: block;
}

#footer .btn-swiper-start {
  display: none;
}

#footer .btn-swiper-start.active {
  display: block;
}

#footer .footer-info {
  padding: 48px 0px 64px 0px;
  background-color: #081329;
}

#footer .footer-link-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

#footer .footer-nav-list {
  display: flex;
}

#footer .footer-nav-item:not(:last-of-type) {
  margin-right: 30px;
}

#footer .footer-nav-item:nth-of-type(2) .footer-nav-link {
  color: #4374C9;
}

#footer .footer-nav-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #FFFFFF;
}

#footer .footer-site-list {
  display: flex;
  gap: 8px;
}

#footer .footer-site-item {
  position: relative;
}

#footer .btn-footer-site {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 224px;
  border: 1px solid #FFFFFF;
  padding: 8.5px 42px 8.5px 16px;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  color: #FFFFFF;
}

#footer .btn-footer-site::before {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 41px;
  width: 1px;
  height: 40px;
  background-color: #FFFFFF;
  content: '';
}

#footer .btn-footer-site::after {
  display: inline-block;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: url('../../img/icon/icon_footer_site.svg');
  content: '';
}

#footer .footer-site-sub {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 42px;
  z-index: 10;
  border: 1px solid #FFFFFF;
  border-bottom: none;
  width: 100%;
  background-color: #081329;
}


#footer .footer-site-sub-link {
  padding: 9.5px 42px 9.5px 16px;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  color: #FFFFFF;
}

#footer .footer-address {
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  color: #FFFFFF;
}

#footer .footer-address-item + .footer-address-item {
  margin-top: 4px;
}

#footer .footer-copyright {
  margin-top: 16px;
  font-size: 15px;
  line-height: 23px;
  color: #FFFFFF;
}

#footer .footer-sns {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#footer .footer-sns-list {
  display: flex;
}

#footer .footer-sns-item + .footer-sns-item {
  margin-left: 8px;
}