/* header */
#header {
  position: fixed !important;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100%;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

#header .header-util-wrap a:link, #header .header-util-wrap a:visited, #header .header-util-wrap a:hover, #header .header-util-wrap a:focus, #header .header-util-wrap a:active {
  text-decoration: none;
} 

@media screen and (max-width: 1199px) {
  #header .header-util-wrap .header-inner {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  #header .header-util-wrap .header-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    padding: 10px 22px;
    margin: 0 auto;
    line-height: 1;
    box-sizing: border-box;
  }
}

#header .header-util-list {
  display: flex;
}

#header .header-util-link {
  display: block;
  position: relative;
  padding: 0px 15px 0px 14px;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}

#header .header-util-link:hover {
  text-decoration: none !important;
}

#header .header-util-link::after {
  position: absolute;
  top: 50%;
  right: 0px;
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  content: '';
}

#header .header-zoom-control {
  display: flex;
}

#header .header-zoom-label {
  display: inline-block;
  padding: 0px 6px 0px 14px;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}

#header .btn-header-zoom-out {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #F8F8F8;
  cursor: pointer;
}

#header .btn-header-zoom-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #F8F8F8;
  cursor: pointer;
}

#header .header-zoom-percent {
  display: inline-block;
  padding: 0px 4px;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}

#header .header-gnb-wrap {
  position: relative;
}

#header .header-gnb-wrap::after {
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
  content: '';
}

#header .header-gnb-wrap .header-inner {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  #header .header-gnb-wrap .header-inner {
    align-items: center;
    padding: 8px 10px;
  }
}

@media screen and (min-width: 1200px){
  #header .header-gnb-wrap .header-inner {
    align-items: flex-start;
    padding: 0px 22px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1401px){
  #header .header-gnb-wrap .header-inner {
    align-items: flex-start;
    gap: 56px;
    padding: 0px 22px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

#header .logo-wrap {
  display: flex;
  flex: 0 0 300px;
  padding: 0px 50px 0px 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 1199px) {
  #header .logo-wrap .logo-link {
    height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  #header .logo-wrap .logo-link {
    height: 60px;
  }
}

@media screen and (max-width: 1199px) {
  #header .logo-img {
    width: 94px;
    height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  #header .logo-img {
    width: 140px;
    height: 60px;
  }
}

@media screen and (max-width: 1199px) {
  #header .logo-wrap .logo-csp-link {
    height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  #header .logo-wrap .logo-csp-link {
    height: 60px;
  }
}

@media screen and (max-width: 1199px) {
  #header .logo-csp-img {
    width: 74px;
    height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  #header .logo-csp-img {
    width: 110px;
    height: 60px;
  }
}

#header .header-gnb-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  #header .header-gnb-area {
    width: auto;
  }
}

#header .header-gnb-area {
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  #header .header-gnb-area {
    gap: 0px;
  }
}

@media screen and (min-width: 1401px) {
  #header .header-gnb-area {
    gap: 80px;
  }
}

@media screen and (max-width: 1199px) {
  #header .header-gnb {
    display: none;
  }
}

#header .header-gnb-area a:link, #header .header-gnb-area a:visited, #header .header-gnb-area a:hover, #header .header-gnb-area a:focus, #header .header-gnb-area a:active {
  text-decoration: none;
}

#header .header-gnb {
  width: 100%;
}

#header .header-gnb-list {
  display: flex;
  justify-content: space-between;
}

#header .header-gnb-link {
  display: block;
  position: relative;
  padding: 22px 10px;
  font-weight: 700;
  line-height: 32px;
  transition: 0.25s all ease;
  box-sizing: border-box;
  color: #1D1D1D;
}

#header .header-gnb-link {
  font-size: 21px;
}

#header .header-gnb-link:focus {
  color: #1D1D1D;
}

#header .header-gnb-link::after {
  position: absolute;
  bottom: -4px;
  left: 50%;
  z-index: 10001;
  width: 0%;
  height: 4px;
  background-color: #4374C9;
  transform: translateX(-50%);
  transition: 0.25s all ease;
  content: '';
}

#header .header-gnb-link:hover {
  color: #4374C9;
}

#header .header-gnb-link:hover::after {
  width: 100%;
}

#header .btn-category {
  padding: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#header .sub-menu-wrap {
  display: none;
  position: absolute;
  top: 76px;
  left: 0px;
  z-index: 10000;
  width: 100%;
  box-shadow: 0px 20px 50px rgba(37, 47, 66, 0.15);
}

#header .sub-menu-area {
  display: flex;
  position: relative;
  z-index: 2;
  max-width: 1556px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

#header .sub-menu-area::before {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -1556px;
  width: 100%;
  height: 100%;
  background-color: #143067;
  content: '';
}

#header .sub-menu-area::after {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: -1556px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  content: '';
}

#header .sub-menu-ssumary {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  padding: 26px 38px 0px 22px;
  background-color: #143067;
}

#header .sub-menu-ssumary-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  color: #FFFFFF;
  text-align: right;
}

#header .sub-menu {
  width: 100%;
  padding-bottom: 60px;
}

#header .sub-menu-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#header .sub-menu-item {
  width: calc(100% / 5);
  padding: 16px 22px 0px 22px;
  box-sizing: border-box;
}

#header .sub-menu-item:nth-of-type(n+6) {
  margin-top: 20px;
}

#header .sub-menu-link {
  display: flex;
  align-items: center;
  padding: 12px 0px;
  text-align: left;
}

#header .sub-menu-link:hover .sub-menu-link-txt {
  color: #4374C9;
}

#header .sub-menu-link:hover .common-icon {
  opacity: 1;
}

#header .sub-menu-link-txt {
  margin-right: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #2D2D2D;
  transition: 0.2s all ease;
}

#header .sub-menu-link .common-icon {
  opacity: 0;
  transition: 0.2s all ease;
}

#header .sub-menu-detail-link {
  display: block;
  padding: 4px 0px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
  color: #555555;
  transition: 0.2s all ease;
  box-sizing: border-box;
  text-align: left;
}

#header .sub-menu-detail-link:hover {
  color: #4374C9;
}

#header .category-area.desktop {
  overflow-y: scroll;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 1000;
}

#header .category-area.desktop a:hover {
  color: #2D2D2D;
  text-decoration: none;
}

#header .category-area.desktop .category-main {
  padding: 0px 0px 120px 0px;
}

#header .category-area.desktop .category-inner {
  width: 100%;
  max-width: 1600px;
  padding: 0px 22px;
  margin: 0 auto;
  box-sizing: border-box;
}

#header .category-area.desktop .category {
  padding: 0px 22px;
}

#header .category-area.desktop .category-header {
  position: relative;
}

#header .category-area.desktop .category-header::after {
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
  content: '';
}

#header .category-area.desktop .category-header .category-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  padding: 40px 22px 16px 22px;
  font-size: 0px;
  line-height: 1;
  box-sizing: border-box;
}

#header .category-area.desktop .btn-category-close {
  padding: 4px;
  border: none;
  background-color: transparent;
}

#header .category-area.desktop .category-item {
  margin-top: 48px;
}

#header .category-area.desktop .category-link {
  display: block;
  position: relative;
  padding: 20px 0px;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: #1D1D1D;
}

#header .category-area.desktop .category-link:hover {
  color: #1D1D1D;
}

#header .category-area.desktop .category-link::after {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #1D1D1D;
  content: '';
}

#header .category-area.desktop .category-sub {
  padding: 32px 0px 0px 0px;
}

#header .category-area.desktop .category-sub-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px 0px;
}

#header .category-area.desktop .category-sub-item {
  width: calc(100% / 5);
}

#header .category-area.desktop .category-sub-link {
  display: block;
  padding: 8px 0px;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: #2D2D2D;
  box-sizing: border-box;
  text-align: left;
}

#header .category-area.desktop .category-sub-detail-link {
  display: block;
  padding: 8px 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #2D2D2D;
  box-sizing: border-box;
  text-align: left;
}

#header .category-area.respond a:link, #header .category-area.respond a:visited, #header .category-area.respond a:hover, #header .category-area.respond a:focus, #header .category-area.respond a:active{
  color: inherit;
  text-decoration: none;
}

#header .category-area.respond {
  overflow-y: scroll;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 1000;
}

#header .category-area.respond .category-header {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: #143067;
}

#header .category-area.respond .category-header .category-inner {
  display: flex;
  justify-content: flex-end;
  padding: 8px 10px;
}

#header .category-area.respond .category-header .btn-category-close {
  width: 24px;
  height: 24px;
  padding: 8px;
  box-sizing: content-box;
}

#header .category-area.respond .category-main .category-inner {
  overflow-y: scroll;
}

#header .category-area.respond .category-link {
  display: block;
  position: relative;
  padding: 20px 12px 20px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  background-color: #FFFFFF;
  color: #1D1D1D;
  transition: 0.5s all ease;
}

#header .category-area.respond .category-link::before {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
  content: '';
}

#header .category-area.respond .category-link.active {
  background-color: #E5EBF5;
  color: #143067;
}

#header .category-area.respond .category-link::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 12px;
  width: 24px;
  height: 24px;
  background: url('../../img/icon/icon_respond_catecory_arrow_down.svg') center/cover no-repeat;
  transform: translateY(-50%);
  content: '';
}

#header .category-area.respond .category-link.active::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 12px;
  width: 24px;
  height: 24px;
  background: url('../../img/icon/icon_respond_category_arrow_up.svg') center/cover no-repeat;
  transform: translateY(-50%);
  content: '';
}

#header .category-area.respond .category-sub {
  display: none;
}

#header .category-area.respond .category-sub.active {
  display: block;
}

#header .category-area.respond .category-sub-list {
  padding: 12px 0px;
}

#header .category-area.respond .category-sub-link {
  display: block;
  position: relative;
  padding: 8px 22px 8px 28px;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
}

#header .category-area.respond .category-sub-link.has-sub-link::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 22px;
  width: 24px;
  height: 24px;
  background: url('../../img/icon/icon_respond_category_plus.svg');
  transform: translateY(-50%);
  content: '';
}

#header .category-area.respond .category-sub-detail {
  position: fixed;
  top: 56px;
  left: 0px;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  padding-left: 120px;
  background-color: rgba(45, 45, 45, 0.4);
  transition: 0.5s all ease;
  visibility: hidden;
  opacity: 0;
}

#header .category-area.respond .category-sub-detail.active {
  padding-left: 60px;
  visibility: visible;
  opacity: 1;
}

#header .category-area.respond .category-sub-detail:not(.active) {
  transition: none;
  visibility: hidden; 
}

#header .category-area.respond .btn-category-sub-detail-prev {
  display: block;
  position: relative;
  width: 100%;
  padding: 16px 16px 16px 52px;
  background-color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #1D1D1D;
  text-align: left;
}

#header .category-area.respond .btn-category-sub-detail-prev::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 16px;
  width: 24px;
  height: 24px;
  background: url('../../img/icon/icon_respond_category_prev.svg') center/cover no-repeat;
  transform: translateY(-50%);
  content: '';
}

#header .category-area.respond .category-sub-detail-list {
  width: 100%;
  min-height: calc(100vh - 115px);
  background-color: #FFFFFF;
}

#header .category-area.respond .category-sub-detail-link {
  display: block;
  position: relative;
  padding: 12px 16px;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
}

#header .category-area.respond .category-sub-detail-link::after {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
  content: '';
}

@media screen and (max-width: 767px) {
  #header .header-page-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 48px;
    background-color: #F5F6FB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  }
}

@media screen and (min-width: 768px) {
  #header .header-page-wrap {
    display: none;
  }
}

#header .header-page-wrap .header-page-title {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

#header .header-page-wrap .btn-header-page-prev {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
}


/* footer */
#footer a {
  display: block;
}

#footer a:link, #footer a:visited, #footer a:hover, #footer a:focus, #footer a:active {
  text-decoration: none;
}

#footer .footer-banner {
  position: relative;
  width: 100%;
  background-color: #F2F3F5;
}

#footer .footer-banner .footer-inner {
  display: flex;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  #footer .footer-banner .footer-inner {
    max-width: none;
    padding: 0px 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #footer .footer-banner .footer-inner {
    max-width: none;
    padding: 0px;
  }
}

@media screen and (min-width: 1200px) {
  #footer .footer-banner .footer-inner {
    max-width: 1600px;
    padding: 0px 22px;
    margin: 0 auto;
  }
}

#footer .footer-banner::before {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 1px;
  background-color: #C6C6C6;
  content: '';
}

#footer .footer-banner-swiper {
  padding: 16px 0px;
  background-color: #F2F3F5;
}

@media screen and (max-width: 767px) {
  #footer .footer-banner-swiper {
    max-width: calc(100% - 96px);
  }
}

@media screen and (min-width: 768px) {
  #footer .footer-banner-swiper {
    max-width: calc(100% - 105px);
  }
}

#footer .footer-banner-swiper .swiper-img {
  width: 100%;
}

#footer .footer-banner-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 767px) {
  #footer .footer-banner-controls {
    flex: 0 0 96px;
    background-color: #F2F3F5;
  }
}

@media screen and (min-width: 768px) {
  #footer .footer-banner-controls {
    flex: 0 0 105px;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

#footer .swiper-controls {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

@media screen and (max-width: 767px) {
  #footer .swiper-controls {
    gap: 0px;
  }
}

@media screen and (min-width: 768px) {
  #footer .swiper-controls {
    gap: 3px;
  }
}

#footer .swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  #footer .swiper-button-prev {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FFF;
  }
}

@media screen and (min-width: 768px) {
  #footer .swiper-button-prev {
    width: 24px;
    height: 24px;
    background-color: inherit;
  }
}

#footer .swiper-button-prev::after {
  width: 24px;
  height: 24px;
  background: center / 100% no-repeat;
  background-image: url('../../img/icon/icon_footer_swiper_button_prev.svg');
  content: '';
}

#footer .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  right: auto;
  left: auto;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  #footer .swiper-button-next {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FFF;
  }
}

@media screen and (min-width: 767px) {
  #footer .swiper-button-next {
    width: 24px;
    height: 24px;
    background-color: inherit;
  }
}

#footer .swiper-button-next::after {
  width: 24px;
  height: 24px;
  border: none;
  background: center / 100% no-repeat;
  background-image: url('../../img/icon/icon_footer_swiper_button_next.svg');
  background-color: transparent;
  content: '';
}

#footer .swiper-link {
  font-size: 0px;
  line-height: normal;
}

#footer .btn-swiper-pause {
  display: none;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  #footer .btn-swiper-pause {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 768px) {
  #footer .btn-swiper-pause {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 767px) {
  #footer .swiper-autoplay-toggle {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 768px) {
  #footer .swiper-autoplay-toggle {
    width: 24px;
    height: 24px;
  }
}

#footer .btn-swiper-pause.active {
  display: block;
}

#footer .btn-swiper-start {
  border: none;
  background-color: transparent;
  display: none;
}

@media screen and (max-width: 767px) {
  #footer .btn-swiper-start {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 768px) {
  #footer .btn-swiper-start {
    width: 24px;
    height: 24px;
  }
}

#footer .btn-swiper-start.active {
  display: block;
}

#footer .footer-banner-category-link {
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  border-radius: 8px;
  padding: 4px 10px;
  background-color: #FFF;
}

@media screen and (max-width: 767px) {
  #footer .footer-banner-category-link {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #footer .footer-banner-category-link {
    display: block;
  }
}

#footer .footer-info {
  padding: 48px 0px 80px 0px;
  background-color: #081329;
}

#footer .footer-info .footer-inner {
  width: 100%;
  max-width: 1600px;
  padding: 0px 22px;
  margin: 0 auto;
}

#footer .footer-link-wrap {
  display: flex;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  #footer .footer-link-wrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  #footer .footer-link-wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  #footer .footer-nav {
    width: 100%;
  }
}

#footer .footer-nav-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  #footer .footer-nav-list {
    justify-content: space-between;
    gap: 0px;
  }
}

@media screen and (min-width: 768px) {
  #footer .footer-nav-list {
    gap: 30px;
  }
}

#footer .footer-nav-item:nth-of-type(2) .footer-nav-link {
  color: #4374C9;
}

#footer .footer-nav-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #FFFFFF;
}

#footer .footer-site-list {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 767px) {
  #footer .footer-site-list {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  #footer .footer-site-list {
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  #footer .footer-site-area {
    width: 100%;
  }
}

#footer .footer-site-item {
  position: relative;
}

#footer .btn-footer-site {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border: 1px solid #FFFFFF;
  padding: 8.5px 42px 8.5px 16px;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  color: #FFFFFF;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #footer .btn-footer-site {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #footer .btn-footer-site {
    width: 224px;
  }
}

#footer .btn-footer-site::before {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 41px;
  width: 1px;
  height: 40px;
  background-color: #FFFFFF;
  content: '';
}

#footer .btn-footer-site::after {
  display: inline-block;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: url('../../img/icon/icon_footer_site.svg');
  content: '';
}

#footer .footer-site-sub {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 42px;
  z-index: 10;
  border: 1px solid #FFFFFF;
  border-bottom: none;
  width: 100%;
  background-color: #081329;
  box-sizing: border-box;
}


#footer .footer-site-sub-link {
  display: block;
  padding: 9.5px 42px 9.5px 16px;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  color: #FFFFFF;
  text-align: left;
  box-sizing: border-box;
}

#footer .footer-address {
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  color: #FFFFFF;
}

#footer .footer-address-item {
  text-align: left;
}

#footer .footer-address-item + .footer-address-item {
  margin-top: 4px;
}

#footer .footer-copyright {
  padding-right: 128px;
  margin-top: 16px;
  font-size: 15px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: left;
}

#footer .footer-sns {
  position: absolute;
  right: 22px;
  bottom: 80px;
}

#footer .footer-sns-list {
  display: flex;
}

#footer .footer-sns-item + .footer-sns-item {
  margin-left: 8px;
}