/* bread-crumb */
#bread-crumb {
  margin-top: 116px;
  width: 100%;
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 12px 260px;
  border-radius: 6px;
  border-bottom: solid 1px #d8d8d8;
}

.bread-crumb-list {
  gap: 14px;
  display: flex;
}

.bread-crumb-list-item .ellipse {
  width: 4px;
  height: 4px;
  background-color: #d8d8d8;
  border-radius: 100%;
}

.bread-crumb-list-item {
  display: flex;
  align-items: center;
}

.bread-crumb-list-span {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  color: #555555;
}

.bread-crumb-list-span.active {
  font-weight: bold;
  color: #1d1d1d;
}

/* sub_body */
.common-main {
  padding: 40px 80px;
}

/* sub-aside */
.sub-aside {
  width: 300px;
}

.sub-aside-list {
  border: 1px solid #d8d8d8;
}

.sub-aside-title {
  width: 100%;
  height: 84px;
  background-color: #4374c9;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-image: url('../../img/bg/sub_aside_title_bg.png')
}

.sub-aside-title-txt {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ffffff;
}

.sub-aside-subtitle {
  padding: 16px 32px;
  width: 100%;
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: solid 1px #f5f6fb;
}

.sub-aside-subtitle.active {
  background-color: #365da1;
}

.sub-aside-subtitle-txt {
  color: #1d1d1d;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 1px;
}

.sub-aside-subtitle-txt.active {
  color: #ffffff;
}

/* icon */
.icon-home {
  width: 24px;
  height: 24px;
}

.icon-home::after {
  background-image: url('../../img/icon/icon_home_24.svg');
}

.icon-sub-arrow-toggle {
  width: 24px;
  height: 24px;
}

.icon-sub-arrow-toggle.active::after {
  background-image: url('../../img/icon/icon_arrow_toggle_up.svg');
}

.icon-sub-arrow-toggle::after {
  background-image: url('../../img/icon/icon_arrow_toggle_down.svg');
}