/* bread-crumb */
#bread-crumb {
  width: 100%;
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 116px;
  border-bottom: solid 1px #d8d8d8;
  box-sizing: border-box;
  font-family: 'Pretendard';
}

.bread-crumb-list {
  gap: 14px;
  display: flex;
  width: 100%;
  max-width: 1600px;
  padding: 12px 22px;
  box-sizing: border-box;
}

.bread-crumb-list-item .ellipse {
  width: 4px;
  height: 4px;
  background-color: #d8d8d8;
  border-radius: 100%;
}

.bread-crumb-list-item {
  display: flex;
  align-items: center;
}

.bread-crumb-list-span {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  color: #555555;
}

.bread-crumb-list-span.active {
  font-weight: bold;
  color: #1d1d1d;
}

/* 사이드바 */
#remote-wrap {
  flex: 0 0 300px;
  border: 1px solid #D8D8D8;
  border-radius: 24px 24px 0px 0px;
  letter-spacing: 1px;
  box-sizing: border-box;
  font-family: 'Pretendard' !important;
}

#remote-wrap a:link, #remote-wrap a:visited, #remote-wrap a:hover, #remote-wrap a:focus, #remote-wrap a:active {
  text-decoration: none;
}

#remote-wrap .remote-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px 24px 0px 0px;
  padding: 24px 0px;
  background: url('../../img/pages/fob/fob_remote_bg.png') no-repeat center/cover;
}

#remote-wrap .remote-heading-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
}
#remote-wrap .remote-link {
  display: block;
  position: relative;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  background-color: #FFFFFF;
  color: #1D1D1D;
  text-align: left;
  text-decoration: none;
}

#remote-wrap .remote-link.has-sub::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 32px;
  width: 24px;
  height: 24px;
  background-image: url('../../img/icon/icon_arrow_toggle_down.svg');
  transform: translateY(-50%);
  content: '';
}

#remote-wrap .remote-link.active {
  background-color: #365DA1;
  color: #FFFFFF;
}

#remote-wrap .remote-link.has-sub.active::after {
  background-image: url('../../img/icon/icon_arrow_toggle_up.svg');
}

#remote-wrap .remote-link.default.active::after {
  display: none;
}

#remote-wrap .remote-sub-list {
  padding: 15px 0px;
  background-color: #F5F6FB;
}

#remote-wrap .remote-sub-link {
  display: block;
  position: relative;
  padding: 6px 0px 6px 47px;
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  color: #717171;
  text-align: left;
  transition: 0.25s all ease;
}

#remote-wrap .remote-sub-link::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 36px;
  width: 3px;
  height: 3px;
  background-color: #143067;
  transform: translateY(-50%);
  content: '';
}

#remote-wrap .remote-sub-link:hover {
  color: #1D1D1D;
}

#remote-wrap .remote-sub-link.active {
  font-weight: 700;
  color: #1D1D1D;
  text-decoration: underline;
  text-underline-position: under;
}

#remote-wrap .remote-sub {
  display: none;
}

#remote-wrap .remote-sub.active {
  display: block;
}

#Content .contentWrap {
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: flex-start;
  gap: 56px;
  padding: 0px 22px;
  margin: 65px auto 0px auto;
  box-sizing: border-box;
}

#Content .contentWrap .contentScrollArea {
  overflow-x: auto;
}

#Content .contentWrap .PageTitleArea {
  margin: 0;
}

#Content .contentWrap .contentArea {
  width: 1200px;
  margin: 0px;
}

#Content .contentWrap .contentArea .PageTitleArea h3 {
  font-weight: 600;
  letter-spacing: -1.44px;
  border-bottom: none;
  padding-bottom: 40px;
}

#Content .contentWrap .contentArea .commentBox {
  border: 1px solid #284679;
}

#Content .contentWrap .contentArea .commentBox .title {
  color: #284679;
  background: url('../../img/btn/bul_comment_title_1.png') no-repeat left top;
}

#Content .contentWrap .contentArea .searchBox .timecateSel .list li {
  margin-top: 13px;
}


#Content .contentWrap .contentArea .searchBox .timecateSel {
  padding: 0 0 30px 0;
}

#Content .contentWrap .contentArea .searchBox .bankSel, #Content .contentWrap .contentArea .searchBox .itemArea, #Content .contentWrap .contentArea .searchBox .btnArea {
  background-color: #F2F3F5;
}

#Content .contentWrap .contentArea .searchBox .bankSel {
  margin-top: 20px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 40px 40px 32px 40px;
  border-bottom: none;
}

#Content .contentWrap .contentArea .searchBox .itemArea {
  padding: 0px 40px 32px 40px;
}

#Content .contentWrap .contentArea .searchBox .itemArea ul {
  border-bottom: 1px solid #D8D8D8;
  padding-block: 18px;
}

#Content .contentWrap .contentArea .searchBox .itemArea ul:first-child {
  border-top: 1px solid #D8D8D8;
}

#Content .contentWrap .contentArea .searchBox .btnArea {
  border-top: none;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

#Content .contentWrap .contentArea .searchBox .itemArea .item01 {
  background: none;
  color: #1D1D1D;
  font-size: 17px;
  font-weight: 600;
}

#Content .contentWrap .contentArea .searchBox .itemArea .item02 {
  background: none;
  color: #1D1D1D;
  font-size: 17px;
  font-weight: 600;
}

/* 기존 checkbox */
#Content .contentWrap .contentArea .searchBox .bankSel .list li {
  width: calc(1120px / 6);
  font-size: 17px;
  color: #1D1D1D;
}

#Content .contentWrap .contentArea .searchBox .bankSel .list li input {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 4px;
}

#Content .contentWrap .contentArea .searchBox .bankSel .list li input:checked {
  background-color: #4374C9;
  background-image: url(../../img/icon/icon_sub_checked.svg);
  background-size: 20px;
}

/* 기존 select */
#Content .contentWrap .contentArea .searchBox .itemArea select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 6px;
  border: solid 1px #8E8E8E;
  height: 38px;
  padding: 7.5px 35px 7.5px 14px;
  font-size: 15px;
  font-weight: 500;
  background: url(../../img/icon/icon_cofix_select_arrow.svg) center right 8px / 20px 20px no-repeat #ffffff;
}

#Content .contentWrap .contentArea .searchBox .itemArea select:focus{
  border: 2px solid #1d1d1d;
}

/* radio */
#Content .contentWrap .contentArea .searchBox .itemArea .check {
  font-size: 17px;
}

/* 검색 버튼 */
#Content .contentWrap .contentArea .searchBox .btnArea .btn a {
  background-color: #1D1D1D;
  background-image: none;
  width: 240px;
  border-radius: 50px;
  font-size: 20px;
}

#Content .contentWrap .contentArea .Resultitle .info .btnArea a.btn01:hover {
  background-color: #F5F6FB;
}

/* 테이블 영역 */
#Content .contentWrap .contentArea .resultList_ty01 th {
  border-bottom: solid 1px #a1acc2;
  border-left: solid 1px #a1acc2;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3em;
  background-color: #435985;
  color: #FFF;
}

#Content .contentWrap .contentArea .resultList_ty01 th a {
  color: #FFF !important;
}

#Content .contentWrap .contentArea .resultList_ty02 th {
  border-bottom: solid 1px #a1acc2;
  border-left: solid 1px #a1acc2;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3em;
  background-color: #435985;
  color: #FFF;
}

#Content .contentWrap .contentArea .resultList_ty02 th a {
  color: #FFF !important;
}

#Content .contentWrap .contentArea .resultList_ty03 th {
  border-bottom: solid 1px #a1acc2;
  border-left: solid 1px #a1acc2;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3em;
  background-color: #435985;
  color: #FFF;
}

#Content .contentWrap .contentArea .resultList_ty03 th a {
  color: #FFF !important;
}

#Content .contentWrap .contentArea .resultList_ty04 th {
  border-bottom: solid 1px #a1acc2;
  border-left: solid 1px #a1acc2;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3em;
  background-color: #435985;
  color: #FFF;
}

#Content .contentWrap .contentArea .resultList_ty04 th a {
  color: #FFF !important;
}

#Content .contentWrap .contentArea .resultList_ty05 th {
  border-bottom: solid 1px #a1acc2;
  border-left: solid 1px #a1acc2;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3em;
  background-color: #435985;
  color: #FFF;
}

#Content .contentWrap .contentArea .resultList_ty05 th a { 
  color: #FFF !important;
}

/* commentBox1 */
#Content .contentWrap .contentArea .commentBox1 {
  border: solid 1px #284679;
}

#Content .contentWrap .contentArea .commentBox1 ul .title {
  color: #284679;
  background: url('../../img/btn/bul_comment_title_1.png') no-repeat left top;
}

/* taCon */
#Content .contentWrap .contentArea .taCon_ty01 th {
  background-color: #435985;
  border-color: #a1acc2;
  color: #FFF;
}

#Content .contentWrap .contentArea .taCon_ty02 th {
  background-color: #435985;
  border-color: #a1acc2;
  color: #FFF;
}

#Content .contentWrap .contentArea .taCon_ty03 th {
  background-color: #435985;
  border-color: #a1acc2;
  color: #FFF;
}

/* trust_goods */
#Content .contentWrap .contentArea .trust_goods .item {
  background-color: #435985;
  border-color: #a1acc2;
  color: #FFF;
}

/* sub-tab */
#Content .contentWrap .contentArea .PageTitleArea .h4Tab2line { 
  border-bottom: 1px solid #004685;
}
#Content .contentWrap .contentArea .PageTitleArea .h4Tab2line li a {
  color: #004685;
}
#Content .contentWrap .contentArea .PageTitleArea .h4Tab2line li a.show {
  background-color: #004685;
  color: #FFF;
}

#Content .contentWrap .contentArea .PageTitleArea .h4Tab3line { 
  border-bottom: 1px solid #004685;
}
#Content .contentWrap .contentArea .PageTitleArea .h4Tab3line li a {
  color: #004685;
}
#Content .contentWrap .contentArea .PageTitleArea .h4Tab3line li a.show {
  background-color: #004685;
  color: #FFF;
}

#Content .contentWrap .contentArea .PageTitleArea .h4Tab4line { 
  border-bottom: 1px solid #004685;
}
#Content .contentWrap .contentArea .PageTitleArea .h4Tab4line li a {
  color: #004685;
}
#Content .contentWrap .contentArea .PageTitleArea .h4Tab4line li a.show {
  background-color: #004685;
  color: #FFF;
}

#Content .contentWrap .contentArea .PageTitleArea .h4Tab5line { 
  border-bottom: 1px solid #004685;
}
#Content .contentWrap .contentArea .PageTitleArea .h4Tab5line li a {
  color: #004685;
}
#Content .contentWrap .contentArea .PageTitleArea .h4Tab5line li a.show {
  background-color: #004685;
  color: #FFF;
}

#Content .contentWrap .contentArea .PageTitleArea .h4Tab6line { 
  border-bottom: 1px solid #004685;
}
#Content .contentWrap .contentArea .PageTitleArea .h4Tab6line li a {
  color: #004685;
}
#Content .contentWrap .contentArea .PageTitleArea .h4Tab6line li a.show {
  background-color: #004685;
  color: #FFF;
}