/* 메인페이지 remote-tab */
@media screen and (max-width: 1399px) {
  #remote-tab {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  #remote-tab {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 140px;
    z-index: 10;
    height: calc(100vh - 116px);
    background-color: #4374C9;
  }
}

#remote-tab.abs{
  position: absolute;
  top: inherit;
  bottom: 0;
}

#remote-tab .remote-tab-list {
  width: 100%;
}

#remote-tab .remote-tab-item {
  width: 100%;
}

#remote-tab .remote-tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  background-color: #4374C9;
  color: #FFFFFF;
  text-align: center;
  transition: 0.2s all ease-out;
}

#remote-tab .remote-tab-link.active {
  font-weight: 900;
  background-color: #FFFFFF;
  color: #4374C9;
}

#remote-tab .remote-tab-item:not(:last-of-type) .remote-tab-link::after {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: calc(100% - 48px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateX(-50%);
  content: '';
}

/* 메인페이지 공통 */
.common-container.main-page * {
  box-sizing: border-box;
}

.common-container.main-page .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.common-container.main-page a:link, .common-container.main-page a:visited, .common-container.main-page a:hover, .common-container.main-page a:focus, .common-container.main-page a:active {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .desktop {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .repond {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .common-container.main-page {
    padding: 104px 16px 80px 16px;
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page {
    position: relative;
  }
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 116px 40px 0px 180px;
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section + .common-section {
    margin-top: 48px;
  }
}

.common-container.main-page .common-section .common-section-inner {
  position: relative;
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section .common-section-inner {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section .common-section-inner {
    position: relative;
    width: 100%;
    max-width: 1280px;
    scale: 0.9;
  }
}

/* 메인페이지 - 메인 */
@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main {
    background: url('../../img/pages/main/section_main_bg.jpg') no-repeat center center / cover;
  }
}

.common-container.main-page .common-section.section-main .section-heading-item {
  display: none;
  position: relative;
}

.common-container.main-page .common-section.section-main .section-heading-item.active {
  display: block;
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main .section-heading-item::after {
    display: inline-block;
    position: absolute;
    z-index: 1;
    right: 80px;
    width: 480px;
    height: 480px;
    content: '';
  }

  .common-container.main-page .common-section.section-main .section-heading-item:nth-of-type(1)::after {
    top: -24.5px;
    background-image: url('../../img/icon/icon_rate_fee_bg.svg');
  }
  
  .common-container.main-page .common-section.section-main .section-heading-item:nth-of-type(2)::after {
    top: -41.5px;
    background-image: url('../../img/icon/icon_fin_svc_bg.svg');
  }
  
  .common-container.main-page .common-section.section-main .section-heading-item:nth-of-type(3)::after {
    top: -41.5px;
    background-image: url('../../img/icon/icon_vishing_bg.svg');
  }
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section.section-main .section-heading-title {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main .section-heading-title {
    padding: 60px 0px 52px 0px;
    font-size: 42px;
    font-weight: 700;
    line-height: 59px;
  }
  
  .common-container.main-page .common-section.section-main .section-heading-title-highlight {
    color: #4374C9;
  }
}

.common-container.main-page .common-section.section-main .quick-menu-wrap {
  display: flex;
  position: relative;
  z-index: 2;
  border-radius: 16px;
  background-color: rgba(245, 246, 251, 0.84);
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section.section-main .quick-menu-wrap {
    flex-direction: column;
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main .quick-menu-wrap {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section.section-main .quick-menu-tab-list {
    display: flex;
  }
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section.section-main .quick-menu-tab-item {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section.section-main .btn-quick-menu {
    width: 100%;
    padding: 16px 0px;
    background-color: #E5EBF5;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    color: #7283A4;
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main .btn-quick-menu {
    width: 193px;
    height: 80px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    background-color: #143067;
    color : #F2F3F5;
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main .btn-quick-menu:hover {
    text-decoration: underline;
  }
}

.common-container.main-page .common-section.section-main .btn-quick-menu.active {
  background-color: rgba(245, 246, 251, 0.84);
  color: #143067;
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section.section-main .btn-quick-menu.active {
    font-weight: 800;
    text-decoration: underline;
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main .btn-quick-menu.active {
    font-weight: 900;
  }
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section.section-main .quick-menu-tab-item:nth-of-type(1) .btn-quick-menu {
    border-radius: 16px 0px 0px 0px;
  }
  
  .common-container.main-page .common-section.section-main .quick-menu-tab-item:nth-of-type(3) .btn-quick-menu {
    border-radius: 0px 16px 0px 0px;
  }
  
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main .quick-menu-tab-item:nth-of-type(1) .btn-quick-menu {
    border-radius: 16px 0px 0px 0px;
  }

  .common-container.main-page .common-section.section-main .quick-menu-tab-item:nth-of-type(2) .btn-quick-menu.radius_v1 {
    border-radius: 0px 16px 0px 0px;
  }

  .common-container.main-page .common-section.section-main .quick-menu-tab-item:nth-of-type(2) .btn-quick-menu.radius_v2 {
    border-radius: 0px 0px 16px 0px;
  }
  
  .common-container.main-page .common-section.section-main .quick-menu-tab-item:nth-of-type(3) .btn-quick-menu {
    border-radius: 0px 0px 0px 16px;
  }
}

.common-container.main-page .common-section.section-main .quick-menu-area {
  display: flex;
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section.section-main .quick-menu-area {
    padding: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main .quick-menu-area {
    align-items: center;
    width: calc(100% - 193px);
    padding: 0px 52px;
  }
}

.common-container.main-page .common-section.section-main .quick-menu-area-list {
  width: 100%;
}

.common-container.main-page .common-section.section-main .quick-menu-area-item {
  display: none;
}

.common-container.main-page .common-section.section-main .quick-menu-area-item.active {
  display: block;
}

.common-container.main-page .common-section.section-main .quick-menu-list {
  display: flex;
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section.section-main .quick-menu-list {
    flex-wrap: wrap;
    gap: 12px 0px;
  }
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section.section-main .quick-menu-item {
    width: calc(100% / 4);
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main .quick-menu-item {
    width: calc(100% / 8);
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main .quick-menu-area-item:nth-of-type(3) .quick-menu-item {
    width: calc(100% / 7);
  }
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section.section-main .quick-menu-box .common-icon {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main .quick-menu-box .common-icon {
    padding: 5px;
    transition: 0.25s all ease;
  }
}

.common-container.main-page .common-section.section-main .quick-menu-link:hover .common-icon {
  scale: 1.1;
}

.common-container.main-page .common-section.section-main .quick-menu-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.common-container.main-page .common-section.section-main .quick-menu-title {
  margin-top: 4px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.common-container.main-page .common-section.section-main .quick-search-wrap {
  display: flex;
  border-radius: 16px;
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section.section-main .quick-search-wrap {
    flex-direction: column;
    margin-top: 48px;
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main .quick-search-wrap {
    margin-top: 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(37, 47, 66, 0.2);
  }
}

@media screen and (max-width: 1399px) {
  .common-container.main-page .common-section.section-main .quick-search-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 1400px) {
  .common-container.main-page .common-section.section-main .quick-search-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 205px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    background-color: #4374C9;
    color: #FFFFFF;
    text-align: center;
  }
}

.common-container.main-page .common-section.section-main .quick-search-tab-list {
  display: flex;
}

.common-container.main-page .common-section.section-main .quick-search-tab-item {
  padding: 0px 12px;
}

.common-container.main-page .common-section.section-main .btn-quick-search-tab {
  position: relative;
  padding: 0px 24px;
  font-size: 22px;
  font-weight: 600;
  line-height: 53px;
  color: #555555;
  transition: 0.25s all ease;
}

.common-container.main-page .common-section.section-main .btn-quick-search-tab::after {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0%;
  height: 4px;
  background-color: #4374C9;
  transform: translateX(-50%);
  transition: 0.25s all ease;
  content: '';
}

.common-container.main-page .common-section.section-main .btn-quick-search-tab:hover {
  font-weight: 700;
  color: #1D1D1D;
}

.common-container.main-page .common-section.section-main .btn-quick-search-tab.active {
  font-weight: 700;
  color: #4374C9;
}

.common-container.main-page .common-section.section-main .btn-quick-search-tab.active::after {
  width: 100%;
}

.common-container.main-page .common-section.section-main .quick-search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px 16px 0px;
  margin-top: 16px;
  width: calc(100% - 193px);
}

.common-container.main-page .common-section.section-main .quick-search-area-item {
  display: none;
}

.common-container.main-page .common-section.section-main .quick-search-area-item.active {
  display: block;
}

.common-container.main-page .common-section.section-main .quick-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-container.main-page .common-section.section-main .quick-search-form {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.common-container.main-page .common-section.section-main .quick-search-select {
  display: block;
  position: relative;
  width: 259px;
  height: 60px;
  padding: 14.5px 16px;
  border: 2px solid #4374C9;
  border-radius: 8px;
  background: url('../../img/icon/icon_quick_search_select.svg') center right 16px / 24px 24px no-repeat;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #1D1D1D;
  transition: 0.25s all ease;
}

.common-container.main-page .common-section.section-main .quick-search-select:hover {
  box-shadow: 0px 0px 0px 4px rgba(67, 116, 201, 0.25);
}

.common-container.main-page .common-section.section-main .quick-search-select + .quick-search-select {
  margin-left: 8px;
}

.common-container.main-page .common-section.section-main .btn-quick-search {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 16px;
  background-color: #4374C9;
}

.common-container.main-page .common-section.section-main .ly-pop-wrap {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
}

/* 메인페이지 - 금리/수수료 */
.common-container.main-page .common-section.section-rate-fee {
  background-color: #FFFFFF;
}

.common-container.main-page .common-section.section-rate-fee .section-heading {
  margin-bottom: 38px;
}

.common-container.main-page .common-section.section-rate-fee .section-heading-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 59px;
  text-align: center;
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-area-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-area-item {
  width: calc((100% - 48px) / 3);
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-area-item:nth-of-type(-n+3) .rate-fee {
  height: 380px;
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-area-item:nth-of-type(n+4):nth-child(-n+6) .rate-fee {
  height: 320px;
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-area-item:nth-of-type(n+1) .rate-fee::after {
  background-image: url('../../img/icon/icon_rate_fee_piggy_bank.svg');
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-area-item:nth-of-type(n+2) .rate-fee::after {
  background-image: url('../../img/icon/icon_rate_fee_rate_return.svg');
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-area-item:nth-of-type(n+3) .rate-fee::after {
  background-image: url('../../img/icon/icon_rate_fee_bank_fee.svg');
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-area-item:nth-of-type(n+4) .rate-fee::after {
  background-image: url('../../img/icon/icon_rate_fee_donut_graph.svg');
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-area-item:nth-of-type(n+5) .rate-fee::after {
  background-image: url('../../img/icon/icon_rate_fee_retire_pension.svg');
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-area-item:nth-of-type(n+6) .rate-fee::after {
  background-image: url('../../img/icon/icon_rate_fee_elec_cal.svg');
}

.common-container.main-page .common-section.section-rate-fee .rate-fee {
  position: relative;
  width: 100%;
  padding: 40px;
  border-radius: 16px;
  background-color: #F5F6FB;
}

.common-container.main-page .common-section.section-rate-fee .rate-fee::after {
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 168px;
  height: 168px;
  content: '';
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-heading {
  display: flex;
  align-items: center;
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-title {
  margin-right: 12px;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-box {
  margin-top: 32px;
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-box-item:not(:last-of-type) {
  margin-bottom: 16px;
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-box-link {
  display: flex;
  align-items: center;
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-box-txt {
  display: inline-block;
  position: relative;
  margin-right: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  transition: 0.2s all ease-out;
}

.common-container.main-page .common-section.section-rate-fee .rate-fee-box-link:hover {
  color: #4374C9;
}

.common-container.main-page .common-section.section-rate-fee .icon-arrow-right-black {
  transition: 0.2s all ease-out;
}

.common-container.main-page .common-section.section-rate-fee .icon-arrow-right-blue {
  transition: 0.2s all ease-out;
}

/* 메인페이지 - 금융 서비스 */
.common-container.main-page .common-section.section-fin-svc {
  background-color: #F2F3F5;
}

.common-container.main-page .common-section.section-fin-svc .section-heading {
  margin-bottom: 115px;
}

.common-container.main-page .common-section.section-fin-svc .section-heading-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 59px;
  text-align: center;
}

.common-container.main-page .common-section.section-fin-svc .fin-svc-area-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.common-container.main-page .common-section.section-fin-svc .fin-svc-area-item {
  width: calc((100% - 48px) / 3);
}

.common-container.main-page .common-section.section-fin-svc .fin-svc-area-item:nth-of-type(-n+1) .fin-svc {
  position: relative;
  background-color: inherit;
}

.common-container.main-page .common-section.section-fin-svc .fin-svc-area-item:nth-of-type(-n+1) .fin-svc::after {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url('../../img/icon/icon_fin_svc_money.svg') no-repeat top -43px center ;
  content: '';
}

.common-container.main-page .common-section.section-fin-svc .fin-svc-area-item:not(:nth-of-type(-n+1)) .fin-svc {
  border: 2px solid transparent;
  transition: 0.25s all ease;
}

.common-container.main-page .common-section.section-fin-svc .fin-svc-area-item:not(:nth-of-type(-n+1)) .fin-svc:hover {
  border: 2px solid #143067;
}

.common-container.main-page .common-section.section-fin-svc .fin-svc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 272px;
  padding: 32px 40px;
  border-radius: 24px;
  background-color: #FFFFFF;
}

.common-container.main-page .common-section.section-fin-svc .fin-svc-heading-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

.common-container.main-page .common-section.section-fin-svc .fin-svc-heading-desc {
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  color: #555555;
}

/* 메인페이지 - 소비자 정보 */
.common-container.main-page .common-section.section-cons-info {
  background-color: #FFFFFF;
}

.common-container.main-page .common-section.section-cons-info .common-section-inner {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.common-container.main-page .common-section.section-cons-info .section-heading {
  margin-bottom: 40px;
}

.common-container.main-page .common-section.section-cons-info .section-heading-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

.common-container.main-page .common-section.section-cons-info .apply-civil-area-list {
  display: flex;
  gap: 24px;
}


.common-container.main-page .common-section.section-cons-info .apply-civil-area-item:nth-of-type(1) {
  width: 302px;
}

.common-container.main-page .common-section.section-cons-info .apply-civil-area-item:nth-of-type(2) {
  width: 411px;
}

.common-container.main-page .common-section.section-cons-info .apply-civil-area-item:nth-of-type(3) {
  width: 247.5px;
}

.common-container.main-page .common-section.section-cons-info .apply-civil-area-item:nth-of-type(4) {
  width: 247.5px;
}

.common-container.main-page .common-section.section-cons-info .apply-civil-area-item:nth-of-type(2) .apply-civil::after {
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 411px;
  height: 194px;
  background: url('../../img/icon/icon_apply_civil_wallet.svg');
  content: '';
}

.common-container.main-page .common-section.section-cons-info .apply-civil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 194px;
  padding: 32px 28px;
  border-radius: 16px;
  background-color: #F5F6FB;
  transition: 0.25s all ease;
}

.common-container.main-page .common-section.section-cons-info .apply-civil-area-item:nth-of-type(1) .apply-civil {
  background-color: #365DA1;
}

.common-container.main-page .common-section.section-cons-info .apply-civil:hover {
  scale: 1.05;
}

.common-container.main-page .common-section.section-cons-info .apply-civil-heading {
  display: flex;
  align-items: center;
}

.common-container.main-page .common-section.section-cons-info .apply-civil-heading-title {
  margin-right: 3px;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
}

.common-container.main-page .common-section.section-cons-info .apply-civil-area-item:nth-of-type(1) .apply-civil-heading-title {
  color: #FFFFFF;
}

.common-container.main-page .common-section.section-cons-info .apply-civil-desc {
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
}

.common-container.main-page .common-section.section-cons-info .apply-civil-area-item:nth-of-type(1) .apply-civil-desc {
  color: #FFFFFF;
}

.common-container.main-page .common-section.section-cons-info .consumer-disclosure-area-list {
  display: flex;
  gap: 24px;
}

.common-container.main-page .common-section.section-cons-info .consumer-disclosure-area-item {
  width: calc((100% - 24px) / 2);
}

.common-container.main-page .common-section.section-cons-info .consumer-disclosure-area-item .consumer-disclosure::after {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 0px;
  width: 200px;
  height: 200px;
  content: '';
}

.common-container.main-page .common-section.section-cons-info .consumer-disclosure-area-item:nth-of-type(1) .consumer-disclosure::after {
  background-image: url('../../img/icon/icon_consumer_disclosure_type.svg');
}

.common-container.main-page .common-section.section-cons-info .consumer-disclosure-area-item:nth-of-type(2) .consumer-disclosure::after {
  background-image: url('../../img/icon/icon_consumer_disclosure_company.svg');
}

.common-container.main-page .common-section.section-cons-info .consumer-disclosure {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 300px;
  padding: 36px 40px;
  border-radius: 24px;
  background-color: #F5F6FB;
  transition: 0.25s all ease;
}

.common-container.main-page .common-section.section-cons-info .consumer-disclosure:hover {
  scale: 1.05;
}

.common-container.main-page .common-section.section-cons-info .consumer-disclosure-heading-title {
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
}

.common-container.main-page .common-section.section-cons-info .consumer-disclosure-heading-desc {
  font-size: 19px;
  font-weight: 500;
  line-height: 29px;
  color: #555555;
}

/* 메인페이지 - 금융 교육센터 */
.common-container.main-page .common-section.section-fin-edu {
  overflow: hidden;
  background-color: #FFFFFF;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-wrap {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 60px 0px;
  background-color: #FFFFFF;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-area-list {
  display: flex;
  gap: 24px;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-area-item {
  width: calc((100% - 48px) / 3);
}

.common-container.main-page .common-section.section-fin-edu .financial-education {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 290px;
  padding: 36px 40px;
  border-radius: 24px;
  background-color: #F5F6FB;
  transition: 0.25s all ease;
}

.common-container.main-page .common-section.section-fin-edu .financial-education:hover {
  scale: 1.05;
}

.common-container.main-page .common-section.section-fin-edu .section-heading {
  margin-bottom: 78px;
}

.common-container.main-page .common-section.section-fin-edu .section-heading-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 59px;
  text-align: center;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-heading-title {
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-heading-desc {
  font-size: 19px;
  font-weight: 500;
  line-height: 29px;
  color: #555555;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-banner-wrap {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 60px 0px 128px 0px;
  background-color: #F2F3F5;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-banner-wrap::before {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: -1;
  width: 200%;
  height: 100%;
  background-color: #F2F3F5;
  transform: translateX(-50%);
  content: '';
}

.common-container.main-page .common-section.section-fin-edu .financial-education-banner-list {
  display: flex;
  gap: 24px;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-banner-item {
  width: calc((100% - 48px) / 3);
}

.common-container.main-page .common-section.section-fin-edu .financial-education-banner {
  position: relative;
  border-radius: 16px;
  padding: 40px;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-banner::after {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  content: '';
}

.common-container.main-page .common-section.section-fin-edu .financial-education-banner-item:nth-of-type(1) .financial-education-banner::after {
  background: url('../../img/pages/main/financial_education_banner_bg_01.png') center/cover no-repeat;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-banner-item:nth-of-type(2) .financial-education-banner::after {
  background: url('../../img/pages/main/financial_education_banner_bg_02.png') center/cover no-repeat;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-banner-item:nth-of-type(3) .financial-education-banner::after {
  background: url('../../img/pages/main/financial_education_banner_bg_03.png') center/cover no-repeat;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-banner-heading {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 0px 0px 16px 0px;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-banner-heading-title {
  position: relative;
  z-index: 2;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}

.common-container.main-page .common-section.section-fin-edu .financial-education-banner-heading-desc {
  position: relative;
  z-index: 2;
  font-size: 21px;
  font-weight: 700;
  line-height: 29px;
  color: #FFFFFF;
}

/* 메인페이지 - 금융 상품안내 */
.common-container.main-page .common-section.section-fin-prod {
  background-color: #F2F3F5;
}

.common-container.main-page .common-section.section-fin-prod .common-section-inner {
  display: flex;
  flex-direction: column;
}

.common-container.main-page .common-section.section-fin-prod .section-heading {
  margin-bottom: 74px;
}

.common-container.main-page .common-section.section-fin-prod .section-heading-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 59px;
  text-align: center;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-list {
  display: flex;
  gap: 24px;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-item {
  width: calc((100% - 72px) / 4);
}

.common-container.main-page .common-section.section-fin-prod .financial-product-item:nth-of-type(1) .financial-product {
  background-color: #102652;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-item:nth-of-type(2) .financial-product {
  background-color: #4374C9;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-item:nth-of-type(3) .financial-product {
  background-color: #FFFFFF;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-item:nth-of-type(4) .financial-product {
  background-color: #FFFFFF;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-item:nth-of-type(3) .financial-product::before {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url('../../img/icon/icon_financial_prouct_piggy_bank.svg') no-repeat center center / contain;
  content: '';
}

.common-container.main-page .common-section.section-fin-prod .financial-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 194px;
  padding: 28px 32px;
  border-radius: 16px;
  transition: 0.25s all ease;
}

.common-container.main-page .common-section.section-fin-prod .financial-product:hover {
  scale: 1.05;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-heading {
  display: flex;
  align-items: center;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-heading-title {
  margin-right: 3px;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-item:nth-of-type(1) .financial-product-heading-title {
  color: #FFFFFF;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-item:nth-of-type(2) .financial-product-heading-title {
  color: #FFFFFF;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-item:nth-of-type(3) .financial-product-heading-title {
  color: #1D1D1D;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-item:nth-of-type(4) .financial-product-heading-title {
  color: #1D1D1D;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-desc {
  position: relative;
  z-index: 2;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
}


.common-container.main-page .common-section.section-fin-prod .financial-product-item:nth-of-type(1) .financial-product-desc {
  color: #FFFFFF;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-item:nth-of-type(2) .financial-product-desc {
  color: #FFFFFF;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-item:nth-of-type(3) .financial-product-desc {
  color: #1D1D1D;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-item:nth-of-type(4) .financial-product-desc {
  color: #1D1D1D;
}

.common-container.main-page .common-section.section-fin-prod .financial-product-board-wrap {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-area {
  width: calc((100% - 24px) / 2);
  padding: 40px;
  border-radius: 24px;
  background-color: #FFFFFF;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 13px 0px;
  border-bottom: 1px solid #1D1D1D;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-tab-list {
  display: flex;
  align-items: center;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-tab-item:nth-of-type(1) .btn-faq-library-tab {
  padding: 0px 17px 0px 0px;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-tab-item:nth-of-type(2) .btn-faq-library-tab {
  padding: 0px 0px 0px 18px;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-tab-item:nth-of-type(2) .btn-faq-library-tab::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 1px;
  height: 16px;
  background-color: #D8D8D8;
  transform: translateY(-50%);
  content: '';
}

.common-container.main-page .common-section.section-fin-prod .faq-library-tab-item .btn-faq-library-tab {
  position: relative;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  color: #717171;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-tab-item .btn-faq-library-tab.active {
  color: #1D1D1D;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-more-link {
  display: flex;
  align-items: center;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-more-link-txt {
  position: relative;
  margin-right: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-area {
  width: calc((100% - 24px) / 2);
  padding: 40px;
  border-radius: 24px;
  background-color: #FFFFFF;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-item {
  display: none;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-item.active {
  display: block;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-board {
  margin-top: 16px;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-board-item {
  position: relative;
  padding: 6px 0px 6px 0px;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-board-item:not(:last-of-type)::after {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #F2F3F5;
  content: '';
}

.common-container.main-page .common-section.section-fin-prod .faq-library-board-item:first-of-type {
  padding: 0px 0px 6px 0px;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-board-item:last-of-type {
  padding: 6px 0px 0px 0px;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-board-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 5.5px 0px;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-board-link:hover .faq-library-board-subject {
  text-decoration: underline;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-board-subject {
  overflow: hidden;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.common-container.main-page .common-section.section-fin-prod .faq-library-board-date {
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  color: #555555;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0px;
  border-bottom: 1px solid #1D1D1D;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-heading-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-item {
  position: relative;
  padding: 6px 0px;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-item:first-of-type {
  padding: 0px 0px 6px 0px;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-item:last-of-type {
  padding: 6px 0px 0px 0px;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-item:not(:last-of-type)::after {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #F2F3F5;
  content: '';
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-more-link {
  display: flex;
  align-items: center;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-more-link-txt {
  margin-right: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product {
  margin-top: 16px;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 5.5px 0px;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-link:hover .bank-new-product-subject {
  text-decoration: underline;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-status-product {
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  color: #FF8F24;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-bank-type {
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-subject {
  overflow: hidden;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  color: #555555;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.common-container.main-page .common-section.section-fin-prod .bank-new-product-date {
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  color: #555555;
}
